body{
	font-size: 12px;
}

.ga{
	font-family: Consolas, Monospace;
	font-size: 12px;
	
	border: 2px solid black;
	padding: 10px;
}

.ga *{
    text-rendering: optimizeSpeed;
    /* -webkit-font-smoothing: none;
    font-smoothing: none; */
}

.ga li{
    white-space: pre;
}

label{
	display: inline-block;
	
}
label input{
	
}